<link rel="stylesheet" href="../static/css/userInfo.css" />
{% if userInfo %}
<div
  class="modal fade"
  id="profileModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">User Information</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="userInfo-table">
          <tr>
            <td>Name:</td>
            <td>{{userInfo['fullName']}}</td>
          </tr>
          <tr>
            <td>Email Id:</td>
            <td>{{userInfo['email']}}</td>
          </tr>
          <tr>
            <td>Phone Number:</td>
            <td>{{userInfo['phoneNumber']}}</td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endif %}
